# ignore data
EventRegistryData/
subjectivities_rates/defining_words_of_topic/*.bin

subjectivities_rates/europarl/*
!subjectivities_rates/europarl/XMLParser.py

subjectivities_rates/eventRegistry/*

subjectivities_rates/wikipedia_languages/*
